<div>
  <h2 id="page-heading" data-cy="ApplicationHeading">
    <span jhiTranslate="recruitmentGatewayApp.application.home.title">Applications</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="recruitmentGatewayApp.application.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-application"
        [routerLink]="['/application/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="recruitmentGatewayApp.application.home.createLabel">Create a new Application</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (applications().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="recruitmentGatewayApp.application.home.notFound">No Applications found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="uniqueNumber">
              <div class="d-flex">
                <span jhiTranslate="recruitmentGatewayApp.application.uniqueNumber">Unique Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="submissionDate">
              <div class="d-flex">
                <span jhiTranslate="recruitmentGatewayApp.application.submissionDate">Submission Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="recruitmentGatewayApp.application.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="paymentSuccessful">
              <div class="d-flex">
                <span jhiTranslate="recruitmentGatewayApp.application.paymentSuccessful">Payment Successful</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="applicant.username">
              <div class="d-flex">
                <span jhiTranslate="recruitmentGatewayApp.application.applicant">Applicant</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="feeCategory.id">
              <div class="d-flex">
                <span jhiTranslate="recruitmentGatewayApp.application.feeCategory">Fee Category</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (application of applications(); track trackId(application)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/application', application.id, 'view']">{{ application.id }}</a>
              </td>
              <td>{{ application.uniqueNumber }}</td>
              <td>{{ application.submissionDate | formatMediumDatetime }}</td>
              <td [jhiTranslate]="'recruitmentGatewayApp.ApplicationStatus.' + (application.status ?? 'null')">
                {{
                  {
                    null: '',
                    SAVED: 'SAVED',
                    SUBMITTED: 'SUBMITTED',
                    SHORTLISTED: 'SHORTLISTED',
                    INTERVIEW_DATE_SET: 'INTERVIEW_DATE_SET',
                    WITHDRAWN: 'WITHDRAWN',
                    CLOSED: 'CLOSED',
                  }[application.status ?? 'null']
                }}
              </td>
              <td>{{ application.paymentSuccessful }}</td>
              <td>
                @if (application.applicant) {
                  <div>
                    <a [routerLink]="['/applicant', application.applicant.id, 'view']">{{ application.applicant.username }}</a>
                  </div>
                }
              </td>
              <td>
                @if (application.feeCategory) {
                  <div>
                    <a [routerLink]="['/application-fee-category', application.feeCategory.id, 'view']">{{ application.feeCategory.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/application', application.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/application', application.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(application)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (applications().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
