<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (config(); as configRef) {
      <div>
        <h2 data-cy="configDetailsHeading"><span jhiTranslate="recruitmentGatewayApp.config.detail.title">Config</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ configRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="recruitmentGatewayApp.config.portalActive">Portal Active</span></dt>
          <dd>
            <span>{{ configRef.portalActive }}</span>
          </dd>
          <dt><span jhiTranslate="recruitmentGatewayApp.config.startDate">Start Date</span></dt>
          <dd>
            <span>{{ configRef.startDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="recruitmentGatewayApp.config.endDate">End Date</span></dt>
          <dd>
            <span>{{ configRef.endDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="recruitmentGatewayApp.config.sampleFormUrl">Sample Form Url</span></dt>
          <dd>
            <span>{{ configRef.sampleFormUrl }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/config', configRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
