<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (advertisement(); as advertisementRef) {
      <div>
        <h2 data-cy="advertisementDetailsHeading">
          <span jhiTranslate="recruitmentGatewayApp.advertisement.detail.title">Advertisement</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ advertisementRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="recruitmentGatewayApp.advertisement.title">Title</span></dt>
          <dd>
            <span>{{ advertisementRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="recruitmentGatewayApp.advertisement.content">Content</span></dt>
          <dd>
            <span>{{ advertisementRef.content }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/advertisement', advertisementRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
